# PostgreSQL and pgAdmin
POSTGRES_USER=umbrella
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=umbrella
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@umbrella.local
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME
PGADMIN_PORT=5050

# Redis
REDIS_PASSWORD=CHANGE_ME
REDIS_PORT=6379
